body{
    background-color: rgba(231, 227, 174, 0.329);
}

img{
    height: 200px;
}

div{
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 30px;
    height: 70%;
    width: 70%;
    margin: 30px;
}

h2{
    text-align: center;
}
